html,body{
    width: 100%;
    height: 100%;
  }
  .app-container {
      padding: 20px;
    }
    
    
    .project-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }
    
    .project-info {
      flex: 1;
    }
    
    