html,body{
    width: 100%;
    height: 100%;
  }
  .app-container {
      padding: 20px;
      font-family: Arial, sans-serif;
    }
    
    
    .interview-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }
    
    .interview-info {
      flex: 1;
    }
    
    .interview-video video {
        width: 600px;
        height: 338px;
        top: 832px;
        left: 549px;
        gap: 0px;
        opacity: 0px;
        border: 1px solid rgba(141, 151, 172, 0.3)
    }